.fitplan-picture
  display flex
  align-items center

  a
    text-decoration none
    display inline-block
    line-height 1

    &:focus
      box-shadow none

.fitplan-picture-field
  overflow hidden
  margin 0 auto


  img
    display block
    max-width 100%

.fitplan-picture-field-circle
  border-radius 50%
  width 100px
  height 100px

.fitplan-picture-actions
  flex 1
  margin-left 10px
  min-width 120px

  a:last-child
    border-left 2px solid wp-neutral
    padding-left 8px
    margin-left 4px

.fitplan-row
  display inline-block
  width 80px

.fitplan-label
  display block
  font-weight bold
  margin 0 0 6px
  padding 0

  &:not(:first-child)
    margin-top 20px

.fitplan-description
  color #666
  font-style italic
  margin 0 0 pad-xs 0

.fitplan-inline-boxes
  display flex

.fitplan-inline-boxes-item
  margin-right pad-m

  label
    display inline-block
    text-transform capitalize

.fitplan-small-num
  width 55px

// Add Workout to planning

.fitplan-add-workout
  line-height 52px
  margin 0 pad-s

  input
  select
    margin-right pad-s

  span:not(:first-child)
    margin-left pad-xs

  select
    vertical-align baseline

  input[type="time"]
    border-radius 4px
    height 28px

  .button
    vertical-align baseline
    height 27px
    line-height 25px
    transform translateY(-1px)

    &:active
      vertical-align baseline

  .fitplan-add-workout-cancel
    display inline-block
    text-decoration none
    margin-left pad-s
    display none

#fitness-planning-workout .fitplan-section
  transition .2s background ease-in

  &.is-featured
    background #93DA9F


.fitplan-field-error
  color wp-error
  display none

  .dashicons
    vertical-align sub
    font-size 16px
    height 16px
    width 16px
