.flex
  display flex
  flex-wrap wrap

.flex > div
  margin 12px

.flex .with-top-margin
  margin-top pad-m

.f33
  flex calc(33.333333% - 24px)

.f66
  flex calc(66.666666% - 24px)

.f50
  flex calc(50% - 24px)

.f25
  flex calc(25% - 24px)

.f75
  flex calc(75% - 24px)

.f100
  flex calc(100% - 24px)
