// Add Workout to planning

.add-workout
  span
    margin 0 pad-xs 0 pad-s

    &:first-child
      margin-left 0

  select
    vertical-align baseline

  input[type="time"]
    border-radius 4px
    height 28px

  .button
    margin-left pad-m
    vertical-align bottom
    height 26px
    line-height 25px
    transform translateY(-2px)


// Planning

.fitplan-planning
  display flex
  width 100%

.fitplan-planning-day
  display none
  flex 1
  width 0

  &:not(:first-child)
    border-left 1px solid #eee

  &.is-shown
    display block

.fitplan-planning-title
  text-align center
  border-bottom 1px solid #eee
  padding pad-s
  text-transform capitalize

.fitplan-planning-item
  border-radius 4px
  background #ccc
  background-clip padding-box
  border 3px solid transparent
  padding 5px
  overflow hidden

.fitplan-planning-item-title
  text-align center

.fitplan-planning-item-hour
  text-align center
  font-size .9em


.fitplan-planning-duration-1h
  height 100px

.fitplan-planning-offset-30m
  margin-top 50px

.fitplan-planning-offset-1h
  margin-top 100px
