.fitplan-planning
  display flex
  width 100%

.fitplan-planning-day
  flex 1
  width 0

  &:not(:first-child)
    border-left 1px solid wp-neutral

.fitplan-planning-title
  text-align center
  border-bottom 1px solid wp-neutral
  padding pad-s
  text-transform capitalize
  font-weight bold

.fitplan-planning-morning
  position relative
  overflow hidden
  border-bottom 15px solid wp-neutral
  height 0
  transition height .5s ease-in-out

.fitplan-planning-afternoon
  position relative
  overflow hidden
  height 0
  transition height .5s ease-in-out

.fitplan-planning-item
  display flex
  flex-direction column
  position absolute
  z-index 1
  width 100%
  overflow hidden
  box-sizing border-box

  transition all .3s ease-in

  &.is-edited .fitplan-planning-item-inside
    opacity .5

  &:hover .fitplan-planning-item-overlay
    display flex

.fitplan-planning-item-inside
  flex auto
  display flex
  flex-direction column
  justify-content space-around
  margin 3px 3px 1px 3px
  padding 5px

  img
    display block
    height 30px
    margin 0 auto

.fitplan-planning-item-title
  margin 0
  text-align center
  font-weight bold

.fitplan-planning-item-hour
  margin 0
  text-align center
  font-size .9em

.fitplan-planning-item-bubble
  position absolute
  display none

.fitplan-planning-item-overlay
  position absolute
  z-index 10
  top 3px
  left 3px
  right 3px
  bottom 1px
  display none
  justify-content stretch
  background rgba(0,0,0, .7)
  border-radius 4px

  a
    text-decoration none
    color white

.fitplan-planning-delete-item
  position absolute
  z-index 15
  top 6px
  right 8px
  font-size 18px
  line-height 1

.fitplan-planning-edit-item
  flex auto
  display flex
  align-items center
  justify-content center

  span
    display block

.fitplan-planning-item-template
  display none // IE11 -
