.coach
  display flex

.coach-picture
  width 300px
  margin-right space-s

  a
    text-decoration none
    display inline-block
    line-height 1

    &:focus
      box-shadow none

.coach-picture-wrapper
  display flex
  align-items center

.coach-picture-field
  display block
  width 100px
  height 100px
  border-radius 50%
  overflow hidden
  margin 0 auto
  border 1px solid wp-neutral
  background wp-neutral

  img
    display block
    max-width 100%

.coach-picture-actions
  flex 1
  margin-left 10px

  a:last-child
    border-left 2px solid wp-neutral
    padding-left 8px
    margin-left 4px

.coach-bio
  flex 1
