.fitplan-picture
  display flex
  align-items center

  a
    text-decoration none
    display inline-block
    line-height 1

    &:focus
      box-shadow none

.fitplan-picture-field
  overflow hidden
  margin 0 auto
  border 1px solid wp-neutral
  background wp-neutral

  img
    display block
    max-width 100%

.fitplan-picture-field-circle
  border-radius 50%
  width 100px
  height 100px

.fitplan-picture-actions
  flex 1
  margin-left 10px

  a:last-child
    border-left 2px solid wp-neutral
    padding-left 8px
    margin-left 4px
