.fitness-planning-shortcode
  position relative
  margin-top 7px
  display inline-block

  input
    width 260px
    padding 5px 6px
    border-radius 3px
    transform translateY(-1px)
    cursor pointer

    &:focus
      box-shadow none
      border-color #ddd


  button
    position absolute
    top 0
    right 0
