.fitplan-planning-item-bubble
  display none
  position absolute
  z-index 100
  top 0
  left calc(100% + 3px)
  width 350px
  padding pad-s
  background white
  border-radius radius
  box-shadow 0 5px 20px rgba(black, .3)


.fitplan-planning-modal-pic
  margin  0 0 pad-xs 0

  img
    max-height 24px

.fitplan-planning-modal-title
  font-weight bold
  margin 0 0 pad-xs 0

.fitplan-planning-modal-desc
  font-size .9em


.fitplan-planning-modal-coach
  position relative
  margin-top pad-m
  padding 0 0 0 50px

.fitplan-planning-modal-coach-by
  font-size .9em

.fitplan-planning-modal-coach-img
  position absolute
  top 0
  left 0
  width 40px
  border-radius 50%
  overflow hidden

.fitplan-planning-modal-coach-bio
  font-size .9em
  margin-top 6px
  font-style italic

  &:before
    content '"'

  &:after
    content '"'

.fitplan-planning-modal-hour
  position absolute
  top 12px
  right 15px
  font-weight bold
