[id^='fitplan-']
  .fitplan-planning:not(.fitplan-planning-mobile)
    position relative
    display flex
    width 100%
    border-style solid
    border-width 1px

    .fitplan-planning-day
      flex 1
      width 0

      &:not(:first-child)
        border-left-style solid
        border-left-width 1px

    .fitplan-planning-title
      text-align center
      padding pad-s
      text-transform capitalize
      font-weight bold
      border-bottom-style solid
      border-bottom-width 1px

    .fitplan-planning-morning
      box-sizing content-box
      position relative
      border-bottom 15px solid

    .fitplan-planning-afternoon
      position relative

    .fitplan-planning-item
      display flex
      flex-direction column
      position absolute
      width 100%

      transition all .3s ease-in

      &:hover
        z-index 2

        .fitplan-planning-item-bubble
          display block

    .fitplan-planning-item-inside
      flex auto
      display flex
      flex-direction column
      justify-content space-around
      margin 3px 3px 1px 3px
      padding 5px
      overflow hidden
      text-align center

      img
        display block
        max-height 24px
        margin 0 auto

    .fitplan-planning-item-title
      margin 0
      font-weight bold

    .fitplan-planning-item-hour
      margin 0
      font-size .9em

      a
        text-decoration none
        color white
