.postbox-inside
  padding-top 10px

  label
    display block
    font-weight bold
    margin 0 0 6px
    padding 0

  textarea
    width 100%
    max-width 500px

  button
    cursor pointer

  .wp-editor-wrap
    margin-top -30px
