.postbox-inside
  margin -6px -12px -12px -12px

  label
    display block
    font-weight bold
    margin 0 0 6px
    padding 0

  textarea
    width 100%

  button
    cursor pointer

  .wp-editor-wrap
    margin-top -30px
