// Structure

space-s = 20px
space = 40px
space-l = 60px
space-xl = 80px

site-padding = 10%
col-padding = space-s

// Fonts

font-size = 16px
ln-height = 1.4

// Colors

wp-neutral = #e1e1e1

txt-color = dark-color

// Styles

transition-speed = .2s
radius = 5px
border-thickness = 1px
shadow = 0 1px rgba(0,0,0,.1)
